* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(255, 137, 64);
  font-family: sans-serif;
  font-size: 70px;
  padding-bottom: 2%;
}

h2 {
  padding-bottom: 12%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.button1 {
  border: 0px solid rgb(255, 145, 72);
  background-color: rgb(255, 145, 72);
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
  color: white;
  margin-bottom: 22%;
  font-size: 18px;
  cursor: pointer;
}

.button2 {
  background-color: #f47c2c;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}



.parte1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 78vh;
  background: url(../assets/bgHeader.png);
  padding: 10px;
  background-position-y: -50px;
  zoom: 1.4;
  padding-top: 150px;
  background-position-x: 50%;
}


.WORKSTATION {
  display: flex;
  align-items: center;
  padding: 60px 80px;
  gap: 100px;
  background-color: #fff;
}

.parte2 {
  max-width: 50%;
  margin-left: 10%;
}

.parte2 h3 {
  font-size: 44px;
  width: 69%;
  margin: 0;
  line-height: 1.2;
  color: #FF8E45;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.parte2 p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  margin: 20px 0 30px;
}


.plantas {
  max-width: 50%;
  height: auto;
  object-fit: cover;
}

.work {
  margin-top: 10%;
}

.WORKSTATION2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 110px 13%;
  gap: 9%;
  background-color: #fff;
}

.parte3 h3 {
  font-size: 44px;
  width: 53%;
  margin: 0;
  line-height: 1.2;
  color: #FF8E45;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.parte3 p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  margin: 20px 0 30px;
}

.button3 {
  background-color: #f47c2c;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pequeñaSala {
  max-width: 50%;
  height: auto;
  object-fit: cover;
}

.SUPPLY {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  height: 61vh;
  background: url(../assets/bgDown.png);
  padding: 10px;
  zoom: 1.4;
  padding-top: 150px;
  align-items: center;
}

.SUPPLY h3 {
  font-size: 40px;
  width: 80%;
  margin: 0;
  line-height: 1.2;
  color: #FF8E45;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.SUPPLY p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  margin: 20px 10% 30px;
  margin-right: 60%;
}

.button4 {
  background-color: #f47c2c;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 67%;
}

.parte4 {
  background-color: #fe8e49;
  color: white;
  padding: 4% 300px 50px 300px;
}

.listas5 {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.listas5 h4 {
  font-size: 20px;
}

ul {
  list-style: none;
}

h4 {
  margin-bottom: 30px;
  font-size: 15px;
  ;
}

footer {
  background-color: #fe8e49;
  color: aliceblue;
  text-align: center;
  padding: 30px 0px 30px 0px;
  border-top: 5px solid #000;
  box-shadow: 0 4px 80px #a84406;
  border: 5px solid transparent;
}


@media (max-width: 1279px) {
  .parte1 {
    height: 86vh;
    background-position-x: 50%;
    zoom: 1.0;
    justify-content: flex-start;
  }

  .parte2 {
    margin-left: 4%;
  }

  .WORKSTATION {
    padding: 132px 100px;
    gap: 0%;
  }


  .parte2 h3 {
    font-size: 31px;

  }

  .parte2 p {
    font-size: 17px;
  }

  .WORKSTATION2 {
    padding: 110px 50px;
    gap: 7%;
  }

  .parte3 h3 {
    font-size: 31px;
    width: 110%;
  }

  .parte3 p {
    font-size: 17px;
  }

  .pequeñaSala {
    max-width: 47%;
  }

  .SUPPLY {
    height: 67vh;
    zoom: 0.7;
    padding-top: 7%;
  }

  .parte4 {
    padding: 0%;
  }

  .listas5 {
    font-size: 14px;
  }

  ul {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  .SUPPLY h3 {
    font-size: 46px;
    width: 81%;
  }

  .SUPPLY p {
    font-size: 20px;
  }
}

@media (max-width: 920px) {

  .WORKSTATION {
    padding: 132px 100px;
    gap: 6%;
  }

  .parte1 {
    height: 86vh;
    zoom: 0.6;
  }

  .parte2 p {
    font-size: 16px;
  }

  .parte2 h3 {
    font-size: 28px;
  }

  .WORKSTATION2 {
    margin-right: 0%;
  }

  .parte3 h3 {
    font-size: 28px;
  }

  .parte3 p {
    font-size: 16px;
  }
}


@media (max-width: 768px) {

  .WORKSTATION {
    padding: 133px 52px;
    gap: 3%;
  }

  .parte1 {
    zoom: 0.4;
  }

  .parte2 h3 {
    font-size: 20px;
  }

  .parte2 p {
    font-size: 12px;
  }

  .button2 {
    font-size: 10px;
  }
}